{{ define "head" }}
	<link rel="stylesheet" href="{{ "styles/social.css" | relURL }}">
{{ end }}

{{ define "header" }}<!-- nothing -->{{ end }}

{{ define "main" }}
	<div class="font-family-sans-serif">
		<div class="d-flex p-4 top align-items-center">
			<img height="100" width="100" src="/images/logo.png"/>
			<h2 class="ml-4 my-0">OpportunitiesToServe</h2>
		</div>
		<div style="min-height: 466px;" class="bottom d-flex flex-column flex-nowrap justify-content-center">
			<h1><strong>{{ .Params.Position }}</strong> for {{ .Params.program }}</h1>
			{{ partial "listing_meta.html" . }}
		</div>
	</div>
{{ end }}

{{ define "footer" }}<!-- nothing -->{{ end }}
