`<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
		{{ block "title" . }}
			<title>{{ .Site.Title }}</title>
		{{ end }}
        <meta name="description" content="{{ .Site.Params.description }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="icon" href="{{ "favicon.ico" | relURL }}" />
        <link rel="apple-touch-icon" href="{{ "apple-touch-icon.png" | relURL }}">

		<link rel="stylesheet" href="{{ "styles/app.css" | relURL }}">

        {{ block "head" . }}
        {{ end }}

		{{ block "social_graph" . }}
			<meta property="og:url" content="{{ .Site.BaseURL }}" />
			<meta property="fb:app_id" content="{{ .Site.Params.facebookappid }}" />
			<meta property="og:type" content="website" />
			<meta property="og:title" content="{{ .Site.Title }}" />
			<meta property="og:description" content="{{ .Site.Params.description }}" />
			<meta property="og:image" content="{{ "images/jumbotron/4.edited.jpg" | relURL }}" />
		{{ end }}

		<link href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700|Spectral:300i" rel="stylesheet">
    </head>
    <body>

		{{ partial "old_browsers.html" . }}

		{{ block "header" .}}
			<header class="">
				{{ partial "header.html" . }}
			</header>
		{{ end }}

		<main class="">
	        {{ block "main" . }}
	        {{ end }}
		</main>

		{{ block "footer" .}}
			<footer class="">
				{{ partial "footer.html" . }}
			</footer>
		{{ end }}

		<script src="https://cdn.ravenjs.com/3.20.1/raven.min.js" crossorigin="anonymous"></script>

		<script type="text/javascript">
			Raven.config('https://8130b93bc1e74deab16568c276e3134e@sentry.io/253594').install()
		</script>

        <script type="text/javascript">
            window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
            ga('create','UA-110560509-1','auto');ga('send','pageview')
        </script>
        <script src="https://www.google-analytics.com/analytics.js" async defer></script>

		<script>
			{{ readFile "static/scripts/modernizr.js" | safeJS }}
		</script>
		<script>
			{{ readFile "static/scripts/old_browsers.js" | safeJS }}
		</script>

        {{ block "scripts" . }}
        {{ end }}

    </body>
</html>
