<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
		{{ block "title" . }}
			<title>{{ .Site.Title }}</title>
		{{ end }}
        <meta name="description" content="{{ .Site.Params.description }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">

		<link rel="stylesheet" href="{{ "styles/app.css" | relURL }}">

        {{ block "head" . }}
        {{ end }}

		{{ block "social_graph" . }}
			<meta property="og:url" content="{{ .Site.BaseURL }}" />
			<meta property="fb:app_id" content="{{ .Site.Params.facebookappid }}" />
			<meta property="og:type" content="website" />
			<meta property="og:title" content="{{ .Site.Title }}" />
			<meta property="og:description" content="{{ .Site.Params.description }}" />
			<meta property="og:image" content="{{ "images/jumbotron/4.edited.jpg" | absURL }}" />
		{{ end }}

		<link href="https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i" rel="stylesheet">
        <!-- <script>
            (function(d) {
                var config = {
                    kitId: 'iiq8uhx',
                    scriptTimeout: 3000,
                    async: true
                },
                h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
            })(document);
        </script> -->
    </head>
    <body>

		{{ partial "old_browsers.html" . }}

		{{ block "header" .}}
			<header class="">
				{{ partial "header.html" . }}
			</header>
		{{ end }}

		<main class="">
	        {{ block "main" . }}
	        {{ end }}
		</main>

		{{ block "footer" .}}
			<footer class="">
				{{ partial "footer.html" . }}
			</footer>
		{{ end }}

        <script>
            window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
            ga('create','UA-97418571-1','auto');ga('send','pageview')
        </script>
        <script src="https://www.google-analytics.com/analytics.js" async defer></script>

		<script>
			{{ readFile "static/scripts/modernizr.js" | safeJS }}
		</script>
		<script>
			{{ readFile "static/scripts/old_browsers.js" | safeJS }}
		</script>

        {{ block "scripts" . }}
        {{ end }}

    </body>
</html>
