{{ define "main" }}
	<section class="container title mb-6">
		<h1>{{ .Title | safeHTML }}</h1>
	</section>
	<section class="container submit mb-6">
		<form data-form-marker>
			<div class="form-section mb-5">
				{{ partial "program_info.html" . }}
			</div>

			<input type="text" name="_gotcha" style="display:none" />
			<input type="hidden" name="_next" value="{{ "thank-you/submit" | relURL }}" />
			<input type="hidden" name="_subject" value="{{ .Title }}" />

			<div class="text-right">
				<input type="submit" class="btn btn-primary" value="Submit">
			</div>
		</form>
	</section>
{{ end }}

{{ define "scripts" }}
	<script>
		(function(window) {

			'use strict';

			window.__FORM_DATA__ = {{ dict "cc" .Params.formdata.cc | jsonify | base64Encode }}

		})(window)
	</script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="{{ "scripts/form_submit.js" | relURL }}"></script>
	<script src="https://www.google.com/recaptcha/api.js" async defer></script>
{{ end }}
