<ul class="item-meta list-inline font-family-sans-serif">
	{{ with .Params.proqualifications }}
		{{ if . }}
			<li class="list-inline-item"><i class="fa fa-certificate mr-2" aria-hidden="true"></i><em>Professional qualifications</em> required</li>
		{{ end }}
	{{ end }}

	{{ with .Params.hoursperweek}}
		<li class="list-inline-item"><i class="fa fa-clock-o mr-2" aria-hidden="true"></i>{{ if eq . 1 }}<em>{{ . }} hour/week</em>{{ else }}<em>{{ . }} hours/week</em>{{ end }}</li>
	{{ end }}

	{{ if and (not .Params.startdate) (.Params.enddate) }}
		<li class="list-inline-item"><i class="fa fa-calendar mr-2" aria-hidden="true"></i><em>Starting immediately</em> to <em>{{ dateFormat .Site.Params.dateformat .Params.enddate }}</em></li>
	{{ else if and (.Params.startdate) (not .Params.enddate) }}
		<li class="list-inline-item"><i class="fa fa-calendar mr-2" aria-hidden="true"></i><em>On-going position</em> starting on <em>{{ dateFormat .Site.Params.dateformat .Params.startdate }}</li>
	{{ else if and (not .Params.startdate) (not .Params.enddate) }}
		<li class="list-inline-item"><i class="fa fa-calendar mr-2" aria-hidden="true"></i><em>On-going position starting immediately</li>
	{{ else }}
		<li class="list-inline-item"><i class="fa fa-calendar mr-2" aria-hidden="true"></i><em>{{ dateFormat .Site.Params.dateformat .Params.startdate }}</em> to <em>{{ dateFormat .Site.Params.dateformat .Params.enddate }}</em></li>
	{{ end }}

	{{ with .Params.weeksduration }}
		<li class="list-inline-item"><i class="fa fa-hourglass-half mr-2" aria-hidden="true"></i><em>{{ . }} week</em> program</li>
	{{ end }}

	{{ with .Params.totalhours }}
		<li class="list-inline-item"><i class="fa fa-check-square mr-2" aria-hidden="true"></i><em>{{ if eq . 1 }}{{ . }} hour{{ else }}{{ . }} hours{{ end }}</em> in total</li>
	{{ end }}
</ul>