{{ define "main" }}
	<section class="container mb-6">
		<div class="row">
			<div class="col col-md-9 col-lg-8">
				<div class="mb-9">
					<h1>What is Ismaili Volunteer?</h1>
					<p>For volunteers and organizers, it's a place to find opportunties and connect with each other to do good for our jamat.</p>
				</div>
				<div class="mb-5">
					<h1>What's the problem?</h1>
				</div>
				<div class="mb-5">
					<h3>It's hard to find volunteers in our jamat</h3>
					<p>Most of the people we've spoken to, who organize programs at the jamati level, or at the regional/national level, say this is their number one problem.</p>
				</div>
				<div class="mb-5">
					<h3>For the jamat, it isn't any better</h3>
					<ul>
						<li><p>There could be hundreds of opportunities that are interesting to you, but you have no way to find them. Even if you're regular in JK everyday, and pay attention to all announcements, many opportunities slip through.</p></li>
						<li><p>With each opportunity, you have to manually ask the organizer for important information, such as weekly time commitment, and duration. It's an unnecessarily burdensome process</p></li>
					</ul>
				</div>
				<div class="mb-9">
					<h3><em>Our jamat <strong>wants</strong> to give back</em>!</h3>
					<p>Ismaili Volunteer is about making this easier.</p>
				</div>
				<div class="mb-5">
					<h1>Why Ismaili Volunteer?</h1>
				</div>
				<div class="mb-9">
					<h3>We think this is useful because...</h3>
					<h5>For volunteers</h5>
					<ul>
						<li><p>It's easy to see all opportunites available at any point in time.</p></li>
						<li><p>All necessary information about each opportunity is there, in full clarity</p></li>
						<li><p>No need to hunt around for contact information, simply send your information to the organizer and they'll get in touch!</p></li>
					</ul>
					<h5>For organizers</h5>
					<ul>
						<li><p>It'll be easier to find volunteers.</p></li>
						<li><p>It'll be faster to find volunteers.</p></li>
						<li><p>It'll be simpler to find volunteers.</p></li>
					</ul>
					<p>Seriously, organizers already deal with enough. It'll be fantastic to make this process even a little bit easier</p>
				</div>
				<div class="mb-5">
					<h1><strong>I'm convinced!</strong> What next?</h1>
				</div>
				<div class="mb-9">
					<h3>Let's test it out</h3>
					<p>Let's pick a jamatkhana, or a specific program, or a specific board, and test it out. <em>Let's figure out if this is actually useful.</em> From there, anything is possible!</p>
				</div>
				<div class="mb-5">
					<p><u>Notes</u></p>
					<ul>
						<li><p>This website is not complete yet, but there's enough here for you to decide if it's something you'd like to test with your jamatkhana or board. As things move forward, we'll polish everything up.</p></li>
						<li><p>The forms are designed to work with email, to keep things as simple as possible. There's no admin dashboard to sign into, or any other nonsense. Just plain and simple email.</p></li>
						<li><p>Everything is running on the web for free at the moment. Really, I'm not kidding, it's free for me too! And our time is volunteered to the jamat :)</p></li>
					</ul>
				</div>
			</div>
		</div>
	</section>
{{ end }}
