<div class="container">
	<nav class="navbar navbar-expand-lg navbar-light px-0 py-4">
		<a class="navbar-brand p-0" href="/">
			<img src="/images/logo.png" width="auto" height="72" alt="{{ .Site.Title }}">
		</a>

		<!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    	<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" href="https://iicanada.org">Back to IICanada.org</a>
				</li>
			</ul>
		</div> -->

		{{ partial "navbar.html" . }}
	</nav>
</div>
