<header class="container mt-3 mb-6">
	<!-- <div class="row"> -->
		<nav class="navbar navbar-light flex-row justify-content-end align-items-center p-0">
			<a class="mr-auto navbar-brand p-0" href="{{ "" | absURL }}">
				<img src="/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
				Ismaili Volunteer
			</a>

			<ul class="navbar-nav flex-row flex-end">
				<li class="nav-item mx-2">
  			    	<a class="nav-link" href="{{ "about" | absURL }}">About</a>
  			  	</li>
				<li class="nav-item mx-2">
			    	<a class="nav-link" href="{{ "submit" | absURL }}">Submit</a>
				</li>
			</ul>
		</nav>
	<!-- </div> -->
</header>
