{{ define "head" }}
	<link rel="stylesheet" href="{{ "styles/index.css" | relURL }}">
{{ end }}

{{ define "header" }}
	<!-- empty -->
{{ end }}

{{ define "main" }}
	<section class="jumbotron jumbotron-fluid mb-6 p-0">
		<!-- Yes, the image above (4.edited.jpg) is a cheat. This angle doesn't actually exist. I've flipped the image along its vertical axis. In the original image, the prayer hall is on the left side. This was intentionally done, to create a right-to-left eye movement that begins at the top of the page (at the prayer hall), and ends at Open Opportunities. -->
		<header>
			{{ partial "header.html" . }}
		</header>
		<div id="images-target" class="jumbotron-background" style="'"	></div>
		<div class="container-fluid pt-9 pb-6 pl-5">
			<h1 class="display-5 mb-4 ")>Accessible volunteer <br> opportunites within <br>your skillset</h1>
			<div class="mt-4 mb-3">
				<a data-smooth data-smooth-offset="-64" href="#opportunities"><h5 class="cta mb-0">Find opportunities <i class="ml-1 fa fa-chevron-right" style="font-size: 0.92em;"aria-hidden="true"></i></h5></a>
			</div>
		</div>
	</section>
	<section class="container my-8">
		<div class="row justify-content-sm-center text-center">
			<h3 class="mb-3 text-center intro">Give your time in the areas that you care most about</h3>
			<p class="justify-content-sm-center intro">Our effort is to provide the jamat access to volunteer opportunities within the local community that allow us to serve in our own capacity, both in time and relevancy to our areas of expertise.</p>
		</div>
	</section>
	<section class="container my-8">	
		<div class="row justify-content-sm-center">
			<div class="col col-md-9">
				<blockquote>
					<p class="quote mb-3">... Canadian [volunteering] spirit resonates with a cherished principle in Shia Ismaili culture – the importance of contributing one's individual energies on a voluntary basis to improving the lives of others. This is not a matter of philanthropy, but rather of self-fulfillment – "enlightened self-fulfillment."</p>
					<div class="row">
						<div class="col col-12">
							<cite class="d-flex flex-row align-items-center justify-content-center mt-3">
								<div class="avatar mr-4"></div>
								<div>
									<h4 class="mb-1">His Highness the Aga Khan</h4>
									<small><p style="max-width: 330px;" class="mb-0 font-family-sans-serif">From his address to both Houses of the Parliament of Canada in Ottawa on Thursday, 27 February 2014</p></small>
								</div>
							</cite>
						</div>
					</div>

				</blockquote>
			</div>
		</div>
	</section>
	<hr></hr>
	<section id="opportunities" class="container listing-section my-8">
		<h2 class="section-title mb-4">Open opportunities</h2>
		<ul class="listing list-unstyled">
			{{ range ( ( where ( where .Data.Pages "Section" "listings" ) ".Params.approved" true ).ByParam "position" ) }}
				<li class="listing-item mb-4">
					<h5 class="item-title mb-2"><a href="{{ .RelPermalink }}"><strong>{{ .Params.position }}</strong> for {{ .Params.program }}</a></h5>
					<p class="mb-0">{{ .Description }}</p>
					{{ partial "listing_meta.html" . }}
				</li>
			{{ end }}
		</ul>
	</section>
	<hr></hr>
	<section class="container more my-6 text-center">
		<div class="row justify-content-sm-center">
			<div class="col col-md-7">
				<h5 class="mb-2">Didn't find anything?</h5>
				<p>Keep checking back! We'll be adding more organizations and opportunities in the coming weeks.</p>
			</div>
		</div>
	</section>
{{ end }}

{{ define "scripts" }}
	<script>
		{{ readFile "static/scripts/smooth.js" | safeJS }}
	</script>
{{ end }}
