.jumbotron {
  font-family: "museo-sans-rounded", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  position: relative;
  background: #000;
  overflow: hidden;
  color: #fff; }
  .jumbotron .jumbotron-background {
    position: absolute;
    top: -10px;
    bottom: -10px;
    left: -10px;
    right: -10px;
    transition: background-image 0.6s ease-in-out;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    filter: blur(6px);
    opacity: 1;
    box-shadow: inset 0px 88px 80px -20px rgba(0, 0, 0, 0.8); }
  .jumbotron header {
    background: none; }
    .jumbotron header nav {
      border-bottom: 1px solid #fff; }

section.listing-section h4 a {
  text-decoration: none; }

section.listing-section .item-meta {
  font-family: "museo-sans-rounded", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; }

section.more {
  color: #636c72; }
