{{ define "head" }}
	<link rel="stylesheet" href="/styles/listing.css">
{{ end }}

{{ define "main" }}
	<section class="container title mb-6">
		<h1>{{ .Params.Position }}</h1>
	</section>
	<section class="container content mb-5">
		{{ .Content }}
	</section>
	<section class="container apply mb-6">
		<h3 class="mb-3">Apply</h3>
		<form data-form-up>
			<div class="form-section">
				<div class="form-group row">
					<label class="col-sm-4 col-form-label" for="name-input">Name</label>
					<div class="col-sm-8">
						<div class="row">
							<div class="col-sm-6">
								<input required type="text" id="name-input" name="firstname" class="form-control" placeholder="First name">
							</div>
							<div class="col-sm-6">
								<input required type="text" id="name-last-input" name="lastname" class="form-control" placeholder="Last Name">
							</div>
						</div>
					</div>
				</div>
				<div class="form-group row">
					<label class="col-sm-4 col-form-label" for="email-input">Email</label>
					<div class="col-sm-8">
						<input required type="email" id="email-input" name="email" class="form-control" placeholder="organizer@artsandculture.ca">
					</div>
				</div>
				<div class="form-group row">
					<label class="col-sm-4 col-form-label" for="phone-input">Phone</label>
					<div class="col-sm-8">
						<input required type="text" id="phone-input" name="phone" class="form-control" placeholder="+1 (416) 888-9999">
					</div>
				</div>
				<div class="form-group row">
					<label class="col-sm-4 col-form-label" for="jamatkhana-input">Primary Jamatkhana</label>
					<div class="col-sm-8">
						<input required type="text" id="jamatkhana-input" name="jamatkhana" class="form-control" placeholder="Brampton">
					</div>
				</div>
			</div>

			<input type="text" name="_gotcha" style="display:none" />
			<input type="hidden" name="_next" value="{{ "/thank-you/apply" | absURL }}" />
			<input type="hidden" name="_subject" class="form-control" value="{{ .Params.position }} for {{ .Params.program }}" readonly />

			<div class="text-right">
				<input type="submit" class="btn btn-primary" value="Apply">
			</div>
		</form>
		{{ partial "formup.html" . }}
	</section>
{{ end }}
