{{ define "title" }}
	<title>{{ .Params.Position }} for {{ .Params.program }} - {{ .Site.Title }}</title>
{{ end }}

{{ define "head" }}
	<link rel="stylesheet" href="{{ "styles/listing.css" | relURL }}">
{{ end }}

{{ define "social_graph" }}
	<meta property="fb:app_id" content="{{ .Site.Params.facebookappid }}" />
	<meta property="og:url" content="{{ .Permalink }}" />
	<meta property="og:type" content="article" />
	<meta property="og:title" content="{{ .Params.Position }} for {{ .Params.program }}" />
	<meta property="og:description" content="{{ .Description }}" />
	<meta property="og:image" content="{{ printf "%s%s%s" "images/social/" .File.BaseFileName ".png" | absURL }}" />
	<meta property="og:image:width" content="1200" />
	<meta property="og:image:height" content="630" />
{{ end }}

{{ define "main" }}
	<section class="container title mt-6 mb-6">
		<h1><strong>{{ .Params.Position }}</strong> for {{ .Params.program }}</h1>
		<ul class="posted-expiry item-meta list-inline font-family-sans-serif">
			<li class="list-inline-item mb-1">Organized by <em>{{ .Params.organizer }}</em></li>
			<li class="list-inline-item mb-1">An initiative of the <em>{{ .Params.org }}</em></li>
			<!-- <li class="list-inline-item mb-1">This opportunity was <em>posted on {{ partial "date_format.html" .Date }}</em>, and will <em>expire on {{ partial "date_format.html" .ExpiryDate }}</em></li> -->
		</ul>
	</section>
	<section class="container content mb-6">
		<div class="row">
			<div class="col-lg-10 last-child-mb-0">
				{{ .Content }}
				<h4>Time Commitment</h4>
				{{ partial "listing_meta.html" . }}
				{{ if isset .Params "commitments" }}
					<p>If you are not available for some time within this period, please let us know, we'll do our best to accomodate. Your commitments for this program will primarily be:</p>
					<ul>
						{{ range .Params.commitments }}
							<li>{{ . }}</li>
						{{ end }}
					</ul>
				{{ else }}
					<p>If you are not available for some time within this period, please let us know, we'll do our best to accomodate.</p>
				{{ end }}
			</div>
		</div>
	</section>
	<section class="container apply mb-6">
		<h2 class="mb-4">Apply</h2>
		<noscript>
			<p class="py-2 px-3 font-family-sans-serif rounded bg-danger text-white text-center">To prevent spam, JavaScript is required to validate and submit this form. We're sorry for the inconvenience!</p>
		</noscript>
		<p class="font-family-sans-serif text-right required-label required-label-legend">Required</p>
		<form data-form-marker>
			<div class="form-section">
				<div class="form-group row">
					<label class="col-sm-4 col-form-label required-label" for="name-input">Name</label>
					<div class="col-sm-8">
						<input required type="text" id="name-input" name="name" class="form-control" placeholder="Your full name">
					</div>
				</div>
				<div class="form-group row">
					<label class="col-sm-4 col-form-label required-label" for="email-input">Email</label>
					<div class="col-sm-8">
						<input required type="email" id="email-input" name="email" class="form-control" placeholder="Your email address">
					</div>
				</div>
				<div class="form-group row">
					<label class="col-sm-4 col-form-label required-label" for="phone-input">Phone</label>
					<div class="col-sm-8">
						<input required type="text" id="phone-input" name="phone" class="form-control" placeholder="Your phone number">
					</div>
				</div>
				<div class="form-group row">
					<label class="col-sm-4 col-form-label required-label" for="jamatkhana-input">Primary Jamatkhana</label>
					<div class="col-sm-8">
						<select required id="jamatkhana-input" name="jamatkhana" class="form-control">
							{{ partial "select_options.html" .Site.Data.constants.jamatkhanas }}
						</select>
					</div>
				</div>
				<div class="form-group row">
					<label class="col-sm-4 col-form-label" for="other-input">Additional Information</label>
					<div class="col-sm-8">
						<textarea rows="4" type="text" id="other-input" name="other" class="form-control" placeholder="Questions, comments, concerns, feedback, or anything else..."></textarea>
					</div>
				</div>
				<div class="form-group row">
					<label class="col-sm-4 col-form-label" for="hearabout-input">How did you hear about this website?</label>
					<div class="col-sm-8">
						<input type="text" id="hearabout-input" name="hearabout" class="form-control">
					</div>
				</div>
				<div class="form-group row">
					<div class="offset-sm-4 col-sm-8">
						<div class="form-check">
							<label class="form-check-label required-label">
								<input class="form-check-input" required name="affirm" type="checkbox" value="">
								<em>By checking this box and sending this application, you affirm that you are available for the above-mentioned time period.</em>
							</label>
						</div>
					</div>
				</div>
			</div>

			<input type="text" name="_gotcha" style="display:none" />
			<input type="hidden" name="_next" value="{{ "thankyou/apply" | absURL }}" />
			<input type="hidden" name="_subject" class="form-control" value="{{ .Params.position }} for {{ .Params.program }}" readonly />

			<div class="mt-4 text-right">
				<input type="submit" class="btn btn-primary" value="Apply">
			</div>
		</form>
		{{ partial "form_submit.html" . }}
	</section>
{{ end }}
