// Base variables
@import "base";

// Reset and dependencies
@import "bootstrap/scss/bootstrap";
@import "convenience";

// Other dependencies
@import "font-awesome/css/font-awesome";


html {
	font-size: 16px;
}

header {
	background: $secondary;
	position: relative;
	z-index: 10;
	nav {
		font-family: $font-family-sans-serif;
	}
	a {
		text-decoration: none;
	}
}

footer {
	border-top: 1px solid $gray-200;
	font-family: $font-family-serif;
	color: $gray-800;
	.content p {
		&:after {
			content: "∙";
			margin: 0 1rem;
			color: $gray-600;
		}
		&:last-child:after {
			content: "";
		}
	}
}

a {
	text-decoration: underline;
}

form {
	font-family: $font-family-sans-serif;
}

small {
	line-height: 1.4;
}

.font-family-sans-serif {
	font-family: $font-family-sans-serif;
}

#old-browsers {
	background: $danger;
	color: #FFF;
	a {
		color: #FFF;
	}
}
