@import "base";
@import "listing-meta";

h1 {
	color: $brand-info;
}

section.content {
	h4 {
		margin-top: get-spacers( 4, 'x');
		&:first-of-type {
			margin-top: 0;
		}
	}
}

section.apply {
	.required-label {
		&:after {
			content: '*';
			color: $brand-tertiary;
			font-size: $font-size-lg;
			line-height: 1;
			margin-left: 3px;
		}
	}
	.required-label-legend {
		color: $gray-lighter;
	}
}

section.extra {
	font-size: $font-size-sm;
}
