@import "base";
@import "listing-meta";

main {
	min-height: 630px;
	width: 1200px;
	background: $brand-primary;
}

.top {
	background: #FFF;
}

.bottom {
	padding: 2.6rem 2.6rem;
	overflow: none;
}

h2 {
	font-size: 3.052rem;
    padding-top: 0.60rem;
	color: $brand-success;
}

h1 {
	font-size: 4.768rem;
	color: #FFF;
	font-weight: 100;
	margin-bottom: 1.6rem;
	strong {
		font-weight: 500;
	}
}

.item-meta {
	font-size: 1.953rem;
	color: rgba(255, 255, 255, 1.0);
	font-weight: 100;
	margin-bottom: 0;
	li {
		em {
			color: rgba(255, 255, 255, 1.0);
			font-weight: 300;
		}
		i {
			color: #ff8b33;
			text-shadow: 0px 0px 1px #6842b3;
		}
		&:after {
			color: rgba(255, 255, 255, 0.15);
		}
	}
}
