@import "base";
@import "listing-meta";

main {
	min-height: 630px;
	width: 1200px;
	background: $primary;
}


h1 {
	font-size: 4.768rem;
	color: #FFF;
	font-weight: 300;
	strong {
		font-weight: 600;
	}
}

.item-meta {
	font-size: 1.953rem;
	color: rgba(255, 255, 255, 0.8);
	font-weight: 100;
	margin-bottom: 0;
	li.list-inline-item {
		display: block;
		em {
			color: rgba(255, 255, 255, 1.0);
			font-weight: 300;
		}
		i {
			color: rgba(255, 255, 255, 0.40);
			margin-right: 1.5rem !important;
		}
		&:after {
			content: none;
		}
	}
}

.description {
	font-size: 2.441rem;
	color: #FFF;
}
