{{ define "main" }}
	<section class="container title mt-6 mb-6">
		<h1>{{ .Title }}</h1>
	</section>
	<section class="container submit mb-6">
		<form data-form-marker>
			<div class="form-section mb-5">
				{{ partial "program_info.html" . }}
				<div class="form-group row">
					<label class="col-sm-4 col-form-label" for="location-input">Location</label>
					<div class="col-sm-8">
						<input required type="text" id="location-input" name="location" class="form-control" placeholder="Brampton JK">
					</div>
				</div>
			</div>

			<div class="form-section mb-5">
				<div class="form-group row">
					<label class="col-sm-4 col-form-label" for="position-input">Volunteer Position</label>
					<div class="col-sm-8">
						<input required type="text" id="position-input" name="position" class="form-control" placeholder="Teacher">
					</div>
				</div>
				<div class="form-group row">
					<label class="col-sm-4 col-form-label" for="role-input">Applicant's Role</label>
					<div class="col-sm-8">
						<textarea required type="text" id="role-input" name="role" class="form-control" placeholder="..."></textarea>
					</div>
				</div>
				<div class="form-group row">
					<label class="col-sm-4 col-form-label" for="qualifications-input">Applicant's Qualifications</label>
					<div class="col-sm-8">
						<textarea type="text" id="qualifications-input" name="qualifications" class="form-control" placeholder="..."></textarea>
					</div>
				</div>
			</div>

			<div class="form-section mb-5">
				<div class="form-group row">
					<label class="col-sm-4 col-form-label" for="startdate-input">Start Date</label>
					<div class="col-sm-8">
						<input required required type="date" id="startdate-input" name="startdate" class="form-control">
					</div>
				</div>
				<div class="form-group row">
					<label class="col-sm-4 col-form-label" for="enddate-input">End Date</label>
					<div class="col-sm-8">
						<input required type="date" id="enddate-input" name="enddate" class="form-control">
					</div>
				</div>
				<div class="form-group row">
					<label class="col-sm-4 col-form-label" for="commitment-input">Weekly Time Commitment</label>
					<div class="col-sm-8">
						<input required type="text" id="commitment-input" name="commitment" class="form-control" placeholder="5pm to 7pm on Saturdays">
					</div>
				</div>
			</div>

			<input type="text" name="_gotcha" style="display:none" />
			<input type="hidden" name="_next" value="{{ "thank-you/submit" | relURL }}" />
			<input type="hidden" name="_subject" value="{{ .Title }}" />

			<div class="text-right">
				<input type="submit" class="btn btn-primary" value="Submit">
			</div>
		</form>
	</section>
{{ end }}

{{ define "scripts" }}
	<script>
		(function(window) {

			'use strict';

			window.__FORM_DATA__ = {{ dict "cc" .Params.formdata.cc | jsonify | base64Encode }}

		})(window)
	</script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="{{ "scripts/form_submit.js" | relURL }}"></script>
	<script src="https://www.google.com/recaptcha/api.js" async defer></script>
{{ end }}
